[0] Printer N.S.Ivanov Rusakovskaya,16 178 300
[1] Computer M.R.Sidorov Bronnaya,8 1157 500
[2] Monitor R.I.Karpov Spirodonovka,12 564 1000
Количество элементов в коллекции: 3
Выполнение завершено успешно
