Comment: Created new order.
Changed card: Courier name: N.S.Ivanov, Product name: Printer, Address: Rusakovskaya,16, Order number: 178, Cost of delivery: 300

Comment: Changes were made.
Changed card: Courier name: M.R.Sidorov, Product name: Printer, Address: Rusakovskaya,16, Order number: 178, Cost of delivery: 300

Comment: Changes were made.
Changed card: Courier name: M.R.Sidorov, Product name: Computer, Address: Rusakovskaya,16, Order number: 178, Cost of delivery: 300

