[0] Printer N.S.Ivanov 178 300 Rusakovskaya 16 1 2
[1] Computer M.R.Sidorov 1157 500 Bronnaya 8 2 3
[2] Monitor R.I.Karpov 564 1000 Spirodonovka 12 3 4
Количество элементов в коллекции: 3
Выполнение завершено успешно
